
#dialogueGaldur{
  font-size:15px;
  color:#993333;
  font-family:Ravi Prakash;
  display: inline;
}

#dialogueShamoke{
  font-size:15px;
  color:gold;
  font-family:Ravi Prakash;
  display: inline;
}
